extends layout
 
block content
  h1= type
  form(id='hatsForm', action="/resource/hats", method="POST")
    div.form-group
      label.hatsAttr(for='hats_type') hats type
      input#hats_type(type='text', name='hats_type')
    div.form-group
      label.hatsAttr(for='size') hats size
      input#hats_size(type='text', name='size')
    div.form-group
      label.hatsAttr(for='price') hats Price
      input#hats_price(type='number', name='price')
    input.SUBMIT(type="submit")
 
  script.
    document.forms['hatsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });